### Java & Maven ###
target/
*.class
*.jar
*.war
*.ear
*.log

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
out/

### VS Code (caso alguém use) ###
.vscode/

### Sistema Operacional ###
.DS_Store
Thumbs.db

### Docker ###
.env